table {
	border-collapse: collapse;
	display: block;
	float: left;
	margin: 0.5em;
}

table tr td, table tr th {
	border: 1px solid black;
	padding: 0.5em;
}

h1 {
	text-align: center;
}

.domingo {
	color: red;
	font-weight: bold;
}

.sabado {
	color: blue;
	font-weight: bold;
}

.titulo-mes {
	background-color: lightgray;
}

#cabecalhoCalendario {
	font-size: 2em;
	font-weight: bold;
	text-align: center
}